<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Riveria</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>Hello</h1>
    <%- include('./partials/scripts') %>
  </body>
</html>
